/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
    margin-bottom: 1em;
    font-size: large;
}
p { margin: 1em 0; }

a {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Container, Banner, Header, left Nav, right Nav, Content, Footer
/*
/*****************************************************************************/
#container
{
width: 900px;
margin: 30px auto;
background-color: #fff;
line-height: 130%;
}

#banner
{
padding: .5em;
background-color: #fff;
background-image: url('/images/banner_test.png');
background-repeat: no-repeat;
height: 90px;
}
#banner h1
{
padding: 0;
margin: 0;
}

#header
{
padding: .5em;
background-color: #FFF;
border-bottom: 1px solid green;
}

#header a.link {
  text-decoration: none;
}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
text-align: left;
}

#rightnav
{
float: right;
width: 160px;
margin: 0;
padding: 1em;
}

#content
{
margin-left: 200px;
border-left: 1px solid magenta;
margin-right: 200px;
border-right: 1px solid #8cbbff;
padding: 1em;
max-width: 36em;
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: magenta;
background-color: #FFF;
border-top: 1px solid #333;
}

/*****************************************************************************/
/*
/* END - Container, Banner, Header, left Nav, right Nav, Content, Footer
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  /*text-align: justify;
  width: 42em;
  margin: 3em auto 2em;*/
  line-height: 1.5em;
}


/*************** Header ***************/
.header {
  width: 100%;
  height: 10%;
}

.banner {
  width: 100%;
  padding: 5px; 
}

.languages {
  width: 100%;
  /*float: right;*/
  text-align: right;
  font-size: larger;
  margin: 15px;
  padding: 0px;
  word-spacing: 10px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.banner {
  font-size: 30px;
}

/*************** Sidebar ***************/

.sidebar {
  float: left;
  /*width: 20%;*/
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 2em;
}

/*************** Content ***************/

.content {
  height: 70%;
}

.announcement {
  font-size: large;
  margin: 40px;
  text-align: center;
}

.contact {
  font-size: 115%;
  font-weight: bold;
}

/*************** Footer ***************/

.footer {
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;
  height: 10%;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: red;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: red;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: red;
  color: #FFF;
}

.post pre.terminal code {
  background-color: red;
}
