<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div id="container">
			<div id="banner"><!-- logo --></div>
        	<header class="header">
        	   <a href="/">{% include header.html %}</a>
        	</header>

			<aside class="sidebar" id="leftnav">
				{% include sidebar.html %}
			</aside>

			<aside class="sidebar" id="rightnav">
				{% include sidebar.html %}
			</aside>

			<div id="content">
			{{ content }}
			</div>

            <footer class="footer">
        	   {% include footer.html %}
        	</footer>
        </div>

    </body>
</html>
