<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">

            <div class="header">
                <a class="extra" href="/about">{% t pages.about %}</a>
                <a class="extra" href="/etc-2014">2014 ETC</a>
                <a class="extra" href="/call-for-participation">{% t pages.call_for_participation %}</a>
                <a class="extra" href="/calafou">Calafou</a>
                <a class="extra" href="/register">{% t pages.register %}</a>
                <a class="extra" href="/how-to-get-involved">{% t pages.how_to_get_involved %}</a>
            </div>

          {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                {% t pages.contact %}
                </p>
              </div>
              <div class="contact">
                <p>
                where when what
                </p>
              </div>
            </div>

        </div>

    </body>
</html>
